{{ define "Menu" }}
<a href="/index">Klanten Index</a> |
<a href="/new">Nieuwe klant</a> |
<a href="/bestelling-index">Bestelling index</a> |
<a href="/bestelling-new">Nieuwe bestelling</a> |
{{ end }}